.content{ background-color: #b50021; }
.content a{ display: block; width: 40%; }

.content .btn_box1{ margin: 0 auto 20px; }
.content .btn_box2{ margin: -7% auto 0; }

.content .rules{ margin-top: 30px; padding: 8%; background-color: #ffeccc; color: #b50021; text-align: justify; }
.content dt{ margin-bottom: 6px; line-height: 18px; font-size: 18px; }
.content dd{ font-size: 14px; line-height: 18px; }
