
/* header begin */
#header { width: 100%; height: 46px; position: relative; background: #fff; border-bottom: 1px solid #dcdcdc; overflow: hidden; }
#header .logo { display: block; position: absolute; width: 94px; left: 50%; margin-left: -47px; top: 8px;  }
#header .logo img { width: 94px; }
#header .location { display: block; height: 50px; line-height: 50px; position: absolute; top: 50%; margin-top: -25px; padding: 0 6px; }
#header .location i:nth-of-type(1) { padding: 0 6px; display: inline-block; width: 13px; height: 14px; background: url(../imgs/location_bg.png) no-repeat; position: relative; top: 2px; left: 10px; }
#header .location i:nth-of-type(2) { width: 10px; height: 9px; display: inline-block; background: url(../imgs/arrow_down.png) no-repeat; position: relative; left: 4px; top: 0; }
nav { width: 100%; }
/* header end */

/* swiper begin */
#index-swiper { width: 100%; margin-top: 47px; }
#index-swiper .swiper-pagination { position: absolute; z-index: 10; bottom: 5px; width: 100%;  text-align: center; }
#index-swiper .swiper-pagination-bullet { background: #fff; box-shadow: 0 0 2px rgba(0,0,0,0.3); opacity: 1; }
#index-swiper .swiper-pagination-bullet-active { background: #ea545d; }
/* swiper end */

/* index nav begin */
#nav-category { width: 100%; height: 108px; padding: 15px 0 10px 0; background: #fff; position: relative; opacity: 0; }
#nav-category li { /*width: 24%;*/ width: 80px; height: 100%; /*position: relative;*/ position: absolute; top: 15px; left: 0; }
#nav-category li:nth-of-type(1) { /*margin-left: 2%;*/ }
#nav-category li a { display: block; position: relative; }
#nav-category li img { width: 100%; height: 100%; }
#nav-category li h3, #nav-category li span { font-family: "微软雅黑",arial; font-size: 14px; text-align: center; }
#nav-category li h3{ font-weight: normal; line-height: 24px; }
#nav-category li span { display: block; font-size: 12px; position: relative; top: -6px; }
/* index nav end */

/* content begin */
.wrap-container { width: 100%; background: #f5f5f5; }
.wrap-container .sec { width: 100%; padding-top: 15px; }
.wrap-container .sec-title { width: 100%; height: 18px; padding: 5px 0; }
.wrap-container .sec-title img { float: left; width: 15px; height: 18px; margin-left: 10px; }
.wrap-container .sec-title h2 { float: left; font-size: 16px; margin-left: 3px; font-family: "微软雅黑",arial; line-height: 18px; color: #000; font-weight: 400; }
.wrap-container .sec-title h2 span { padding: 0 3px; color: #e3e3e3; }
.wrap-container .sec-title a { float: right; margin-right: 20px; line-height: 18px; color: #000; }

.wrap-container .sec-list { width: 96%; margin: 0 auto; padding-bottom: 10px; border-radius: 10px; box-shadow: 1px 1px 1px 0 #ddd; background: #fff; }
.wrap-container .sec-list li { width: 31%; position: relative; padding-top: 5px; }
.wrap-container .sec-list li a { width: 98%; padding: 1%; display: block; height: 100%; }
.wrap-container .sec-list li img { width: 100%; border-radius: 5px; }
.wrap-container .sec-list li h3, .wrap-container .sec-list li p { font-family: "微软雅黑",arial; display: block; }
.wrap-container .sec-list li h3 { padding: 0 10px; font-weight: normal; font-style: normal; font-size: 14px; text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.wrap-container .sec-list li p { font-size: 12px; text-align: center; word-break: break-word; }
.wrap-container .sec-list li p.en { word-spacing: -1px; font-size: 10px; padding-bottom: 16px; }
.wrap-container .sec-list li p.price { position: absolute; bottom: 0; width: 100%; line-height: 12px; text-align: center; }
.wrap-container .sec-list li strong{ font-style: normal; color: #333; }

#rec-list { border: none; box-shadow: none; background: #f5f5f5; }
#rec-list > li { width: 49%; }
#rec-list > li:nth-of-type(1) { float: left; }
#rec-list > li:nth-of-type(2) { float: right; }
#rec-list > li a { background: #f5f5f5; box-shadow: 1px 1px 1px 0 #ddd; }
#rec-list > li h3 { line-height: 26px; }
#rec-list > li h3 span { font-size: 10px; }
#rec-list > li:nth-of-type(1) a { width: 94%; padding: 3%; background: #fff; border-radius: 5px; position: relative; overflow: hidden; }
#rec-list > li:nth-of-type(1) img { width: 100%; }
#rec-list > li:nth-of-type(1) .rec-mark { width: 34%; position: absolute; right: -1%; top: -1%; }
#rec-list > li:nth-of-type(1) .rec-mark > img { width: 100%; }
#rec-list > li:nth-of-type(1) .mark { position: absolute; width: 100%; height: 30%; bottom: 0; left: 0; background: #fff; opacity: 0.8; }
#rec-list > li:nth-of-type(1) .mark p { line-height: 10px; }
#rec-list .sub-list { width: 100%; }
#rec-list .sub-list li { width: 100%; padding: 0; }
#rec-list .sub-list li:nth-of-type(2) { padding-top: 3%; }
#rec-list .sub-list li a { width: 96%; padding: 3% 2%; background: #fff; border-radius: 5px; }
#rec-list .sub-list li .img { width: 45%; float: left; }
#rec-list .sub-list li .img img { width: 100%; }
#rec-list .sub-list li .text { width: 55%; float: right;  }
#rec-list .sub-list li .text h3 { text-align: left; margin-left: 3%; padding: 0; }
#rec-list .sub-list li .text p { font-size: 10px; text-align: left; margin-left: 3%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; word-spacing: -2px; }
#rec-list .sub-list li .text p.price { width: 50%; text-align: center; }
#rec-list .sub-list li .text strong { font-weight: normal; color: #000; }
/* content end */

/* favours begin */
#favours-list { width: 100%; background: #f5f5f5; margin-top: 10px; padding-bottom: 10px; }
#favours-list > p { width: 100%; height: 38px; line-height: 38px; position: relative; text-align: center; }
#favours-list > p span:nth-of-type(1) { width: 100%; height: 1px; display: block; background: #dcdcdc; position: absolute;
top: 50%; margin-top: -1px; }
#favours-list > p span:nth-of-type(2) { background: #f5f5f5; position: relative; padding: 0 10px; color: #b4b4b4; }
#favours-list ul { width: 96%; margin: 0 auto; }
#favours-list li { width: 49%; margin-bottom: 2%; box-shadow: 1px 1px 1px 0 #ddd; border-radius: 10px; }
#favours-list li a { width: 94%; padding: 3%; display: block; background: #fff; border-radius: 10px; }
#favours-list li .img { width: 100%; }
#favours-list li .img img { width: 100%; border-radius: 10px; }
#favours-list li .text { width: 100%; padding-top: 4px; }
#favours-list li .text h3, #favours-list li .price { font-weight: normal; font-style: normal; font-size: 14px; font-family: "微软雅黑",arial; text-align: center; color: #505050; display: block; width: 100%; }
#favours-list li .en { font-size: 10px; font-family: "微软雅黑",arial; text-align: center; word-break: break-word; word-spacing: 0; color: #505050; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
#favours-list li .price { display: block; color: #000; }
/* favours end */

/* status-bar begin */
#status-bar { width: 100%; height: 38px; background: #e6e6e6; }
#status-bar p, #status-bar .backTop { height: 38px;  font: 12px/38px "微软雅黑",arial; color: #505050; }
#status-bar p { float: left; margin-left: 10px; }
#status-bar p em { font-style:normal; padding: 0 10px; color: #b4b4b4; }
#status-bar .backTop { float: right; margin-right: 10px; display: inline-block; }
#status-bar .backTop i { width: 10px; height: 9px; line-height: 38px; margin-left: 5px; display: inline-block; background: url(../imgs/arrow_up.png) no-repeat; background-size: 10px 9px; opacity: 0.6; }
/* status-bar end */

/* footer begin */
#footer { width: 100%; background: #f5f5f5; padding-bottom: 40px; }
#footer .text { width: 100%; padding: 10px 0; }
#footer .text p { text-align: center; font: 12px/28px "微软雅黑",arial; color: #505050; }
#footer .text p a { height: 24px; line-height: 24px; display: inline-block; margin-left: 5px; padding: 0 10px; border: 1px solid #bebebe; border-radius: 5px; color: #515151; background:-webkit-linear-gradient(#fff, #e7e7e7);
background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e7e7e7)); 
background:linear-gradient(#fff, #e7e7e7);
}
#footer .text p a i { display: inline-block; width: 14px; height: 14px; background: url(../imgs/tel_bg.png) no-repeat; background-size: 14px 14px; position: relative; left: -4px; top: 3px; }
#footer .text .platform { line-height: 34px; }
#footer .text .platform a { margin-left: 0; border: none; background: transparent; }
#footer .text .platform em { font-style: normal; padding: 0; color: #b4b4b4; }
#footer .link { width: 100%; height: 38px; position: relative; border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; }
#footer .link a { width: 60px; position: absolute; height: 14px; top: 45%; margin-top: -7px; font-size: 12px; }
#footer .link a:nth-of-type(1) { left: 20px; }
#footer .link a:nth-of-type(2) { left: 50%; margin-left: -30px; }
#footer .link a:nth-of-type(3) { right: 20px; }
#footer .addr { width: 100%; padding: 10px 0; margin-bottom: 10px; }
#footer .addr p { font: 12px/22px "微软雅黑",arial; text-align: center; color: #505050; word-spacing: -1px; }
#footer .addr p span { color: #0f3677; }
/* footer end */

/* mask begin */
#mask { width: 100%; height: 100%; background: rgba(0,0,0,0.5); position: fixed; top: 0; left: 0; z-index: 999; }
#mask .locate { width: 90%; border-radius: 5px; max-width: 500px; background: #fff; margin: auto; position: absolute; top: 40%; margin-top: -50px; left: 0; right: 0; z-index: 9999; overflow: hidden; }
#mask .locate-title { width: 100%; height: 40px; line-height: 40px; text-align: center; background: #e6e6e6; }
#mask .locate-title .icon-locate{ display: inline-block; width: 13px; height: 14px; background: url(../imgs/location_bg.png) no-repeat; position: relative; margin-right: 6px; top: 2px; }
#mask .locate-content { width: 100%; height: 250px; position: relative; }
#mask .locate-content .desc { width: 100%; margin: 20px 0; }
#mask .locate-content .desc p { text-align: center; line-height: 20px; color: #515151; }
#mask .locate-content .city { width: 90%; margin-top: 10px; margin: 0 auto; }
#mask .locate-content .city span { display: inline-block; width: 22%; margin:5px auto; line-height: 26px; height: 26px; /*margin: 0 1%;*/ border: 1px solid #e6e6e6; border-radius: 14px; font-size: 12px; text-align: center; }
#mask .locate-content .city span.active { border-color: #e74566; color: #e74566; }
#mask .locate-content .btn { height: 40px; width: 100%; position: absolute; bottom: 14px; }
#mask .locate-content .btn a { display: block; width: 60%; height: 100%; background: #0055A2; margin: 0 auto; text-align: center; line-height: 40px; font-size: 14px; color: #fff; border-radius: 10px; }
/* mask end */

#rec-list2 li:nth-of-type(3n+1) { margin-left: 1%; }
.wrap-container .sec .column-3 li:nth-of-type(3n+1) { margin-left: 1%; }
.wrap-container .sec .column-2 li:nth-of-type(2n+1) { margin-left: 1%; }
#rec-list li:nth-of-type(3n+1) { margin-left: 0; }

/* added search style on 2016/03/03 */
.fixed { position: fixed !important; top: 0; left: 0; z-index: 999999999; }
#header .search { display: none; position: absolute; right: 5%; top: 50%; width: 65%; height: 30px; -webkit-transform: translateY(-50%); transform: translateY(-50%); border: 1px solid #505050; border-radius: 16px; overflow: hidden; }
#header .search > input { float: left; width: 80%; height: 100%; line-height: 30px; border: none; -webkit-appearance: none; outline: none; text-indent: 1em; }
#header .search .btn-search { display: block; float: right; position: relative; top: 6px; width: 18px; height: 18px; margin-right: 10px; background: url(../imgs/icon_search.png) no-repeat; background-size: cover; background-position: center center; }


.wrap-container .column-3 li { float: left; margin: 0 1%; }
.wrap-container .column-3 li:nth-of-type(3n+1) { margin-left: 1.5% !important; }
.wrap-container .sec-list li p.en { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }