.container-wrapper { width: 100%; background: #fff; font: 12px "微软雅黑",arial; color: #505050; position: relative; }
.container-wrapper input, .container-wrapper select { overflow: hidden; }

/* receive-info begin */
.receive-info { width: 100%; padding: 10px 0; border-bottom: 1px solid #e6e6e6; }
.receive-info a { width: 94%; display: block; margin: 0 auto; position: relative; }
.receive-info p { width: 96%; line-height: 22px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.receive-info p .empty { color: #b8b8b8; }
.receive-info .arrow-next { display: block; width: 12px; height: 21px; position: absolute; right: 0; top: 50%; margin-top: -11px; background: url(../imgs/arrow_next.png) no-repeat; }
/* receive-info end */

/* receive-time begin */
.receive-time { width: 100%; padding: 10px 0; border-bottom: 1px solid #e6e6e6; }
.receive-time .content { width: 94%; margin: 0 auto; }
.receive-time .time { color: #ee767d; line-height: 22px; }
.receive-time .send-date { line-height: 26px; margin-top: 5px; outline: none; border-style: none; }
.receive-time .send-date input,
.receive-time .send-date select,
.receive-time .send-date span { display: inline-block; height: 26px; line-height: 26px; outline: none; float: left; }
.receive-time .send-date input,
.receive-time .send-date select { border-radius: 5px; border: 1px solid #d2d2d2; box-shadow: none; }
.receive-time .send-date input[type=date] { width: 28%; display: inline-block; height: 24px; line-height: 26px; margin-right: 4px; float: left; background: transparent; -webkit-appearance: none; text-align: center; }
.receive-time .send-date select,
.receive-time .send-date .slipt { margin-right: 4px; }
.receive-time .notice { line-height: 28px; color: #b8b8b8; }

/* 对select标签进行美化 */
.receive-time .send-date .span-select { display: block; overflow: hidden;/*修复子元素无法撑开父元素高度bug*/ position: relative; width: 16%; margin-right: 4px; }
.receive-time .send-date .span-select:after { width: 0; height: 0; content: ''; display: block; position: absolute; right: 4px; top: 50%; margin-top: -2px; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 6px solid #505050; }
.receive-time .send-date .span-select select { width: 100%; background: transparent; -webkit-appearance: none;/*for chrome*/  display: inline-block; padding: 0 3px; line-height: 22px; }
/* receive-time end */

/* transport-type begin */
.transport-type { width: 100%; padding: 10px 0; border-bottom: 1px solid #e6e6e6; }
.transport-type h2,
.transport-type .transport-title,
.transport-type .transport-content { width: 94%; margin: 0 auto; }
.transport-type h2 { text-align: center; font: 12px/26px "微软雅黑",arial; color: #0055A2; }
.transport-type .transport-title { background: #f0f0f0; height: 28px; line-height: 28px; border: 1px solid #f0f0f0; }
.transport-type .transport-title span { width: 25%; text-align: center; display: inline-block; float: left; height: 28px; line-height: 28px; }
.transport-type .transport-content { height: 50px; margin-bottom: 10px; border-left: 1px solid #f0f0f0; border-right: 1px solid #f0f0f0; border-bottom: 1px solid #f0f0f0; }
.transport-type .transport-content span { width: 25%; height: 30px; padding: 10px 0; text-align: center; display: block; float: left;  word-break: break-word; border-left: 1px solid #f0f0f0; margin-left: -1px; }
.transport-type .transport-content span:nth-of-type(1) { border-left: none; }
/* transport-type end */

/* product-list begin */
.product-list { width: 100%; padding: 10px 0 0 0; border-bottom: 1px solid #e6e6e6; }
.product-list .list-title { width: 94%; margin: 0 auto; text-align: center; font: 12px/26px "微软雅黑",arial; color: #0055A2; }
.product-list .list-item { width: 100%; border-top: 1px solid #e6e6e6; position: relative; }
.product-list .list-item .img { width: 20%; display: block; border-radius: 5px; border: 1px solid #b4b4b4; overflow: hidden; margin: 3%; float: left; }
.product-list .list-item .img img { width: 100%; }
.product-list .list-item dl { width: 70%; float: right; margin-top: 3%; }
.product-list .list-item dt { color: #737373; line-height: 28px; }
.product-list .list-item dd { color: #b5b5b5; line-height: 18px; }
.product-list .list-item .total { float: right; margin-right: 3%; line-height: 18px; color: #b5b5b5; }
.product-list .list-item .total strong { font-weight: normal; color: #ea545d; font-size: 14px; }
/* product-list end */

/* setting-list begin */
.setting-list { width: 100%; }
.setting-list .setting-item { width: 100%; border-bottom: 1px solid #e6e6e6; }
.setting-list .item-header { width: 90%; height: 50px; margin: 0 auto; position: relative; }
.setting-list .item-title, .setting-list .item-result { width: 45%; line-height: 50px; height: 50px; }
.setting-list .item-title { float: left; color: #b4b4b4; }
.setting-list .item-result { float: right; text-align: right; margin-right: 20px; }
.setting-list .item-header .icon { display: block; position: absolute; width: 10px; height: 10px; right: 0; top: 50%; margin-top: -5px; background: url(../imgs/icons_setting.png) no-repeat 0 0; }
.setting-list .item-header .icon-open { background-position: 0 -10px; }
.setting-list .item-header .icon-close { background-position: 0 0; }
.setting-list .item-content { display: none;/*TODO 设为display:none*/ width: 90%; margin: 0 auto; padding: 10px 0 14px 0; transition: .5s; }

/* payment */
.setting-list .payment-list li { width: 48%; height: 18px; line-height: 18px; padding: 5px 0; margin: 5px 0; border: 1px solid #bebebe; border-radius: 5px; text-align: center; color: #737373; overflow: hidden; }
.setting-list .payment-list li.fl { float: left; }
.setting-list .payment-list li.fr { float: right; }
.setting-list .payment-list li.active { border-color: #ea545d; position: relative; }
.setting-list .payment-list li.active:after { display: block; content: url(../imgs/setting_item_bg.png); width: 20px; height: 20px; position: absolute; right: -1px; bottom: 0; vertical-align: bottom; }

/* discount */
.setting-list .discount-title { width: 100%; }
.setting-list .discount-title li { width: 50%; float: left; height: 28px; line-height: 28px; text-align: center; border-bottom: 2px solid #d2d2d2; }
.setting-list .discount-title li.active { position: relative; color: #0055a2; border-bottom: 2px solid #0055a2; }
.setting-list .discount-title li.active:after { width: 0; height: 0; content: ''; display: block; position: absolute; left: 50%; margin-left: -2px; bottom: 0; border-left: 4px solid transparent; border-right: 4px solid transparent; border-bottom: 4px solid #0055a2; }
.setting-list .discount-content { width: 100%; }
.setting-list .discount-content > li { width: 100%; display: none; }
.setting-list .discount-content > li.active { display: block; }
.setting-list .discount-content .discount-ticket-list { width: 80%; margin: 0 auto; }
.setting-list .discount-content .discount-ticket-list li { width: 100%; height: 38px; line-height: 38px; border-bottom: 1px solid #e6e6e6; color: #333; position: relative; }
.setting-list .discount-content .discount-ticket-list .icon-close { display: block; background: url(../imgs/icon_close.png) no-repeat; width: 14px; height: 14px; position: absolute; right: 0; top: 50%; margin-top: -8px; border: 1px solid #b5b5b5; }
.setting-list .discount-content .inputs,
.setting-list .discount-content .my-discount { width: 80%; margin: 0 auto; }
.setting-list .discount-content input, .setting-list .discount-content select { width: 100%; outline: none; margin: 12px 0 0 0; padding: 0; height: 38px; line-height: 38px; border-radius: 5px; border: none; }
.setting-list .discount-content input[type=text], .setting-list .discount-content select { text-indent: 1em; border: 1px solid #d2d2d2; }
.setting-list .discount-content input[type=button] { line-height: 38px; background: #0055A2; color: #fff; }

/* coupon 代金卡券 */
.setting-list .coupon-title { width: 100%; }
.setting-list .coupon-title li { width: 50%; float: left; height: 28px; line-height: 28px; text-align: center; border-bottom: 2px solid #d2d2d2; }
.setting-list .coupon-title li.active { position: relative; color: #0055a2; border-bottom: 2px solid #0055a2; }
.setting-list .coupon-title li.active:after { width: 0; height: 0; content: ''; display: block; position: absolute; left: 50%; margin-left: -2px; bottom: 0; border-left: 4px solid transparent; border-right: 4px solid transparent; border-bottom: 4px solid #0055a2; }
.setting-list .coupon-content { width: 100%; }
.setting-list .coupon-content > li { width: 100%; display: none; }
.setting-list .coupon-content > li.active { display: block; }
.setting-list .coupon-content .inputs, .setting-list .coupon-content .ticket-coupon-list, .setting-list .coupon-content .cash-coupon-list { width: 80%; margin: 0 auto; }
.setting-list .coupon-content input { width: 100%; outline: none; margin: 12px 0 0 0; padding: 0; height: 38px; line-height: 38px; border-radius: 5px; border: none; }
.setting-list .coupon-content input[type=text] { text-indent: 1em; border: 1px solid #d2d2d2; }
.setting-list .coupon-content input[type=button] { line-height: 38px; background: #0055A2; color: #fff; }
.setting-list .coupon-content .inputs p, .setting-list .coupon-content .notice { padding: 10px 0 0 0; text-justify: auto; text-align: justify; color: #b4b4b4; }
.setting-list .coupon-content .inputs p a { color: #0e5ea7; text-decoration: underline; }
.setting-list .coupon-content .ticket-coupon-list li,
.setting-list .coupon-content .cash-coupon-list li { width: 100%; height: 38px; line-height: 38px; border-bottom: 1px solid #e6e6e6; color: #333; position: relative; }
.setting-list .coupon-content .ticket-coupon-list .icon-close,
.setting-list .coupon-content .cash-coupon-list .icon-close { display: block; background: url(../imgs/icon_close.png) no-repeat; width: 14px; height: 14px; position: absolute; right: 0; top: 50%; margin-top: -8px; border: 1px solid #b5b5b5; }

/* birth 生日牌 */
.setting-list .birth-list { width: 100%; }
.setting-list .birth-content { width: 80%; margin: 0 auto; }
.setting-list .birth-content select, .setting-list .birth-content input { width: 100%; outline: none; margin: 12px 0 0 0; padding: 0; height: 38px; line-height: 38px; border-radius: 5px; border: none; border: 1px solid #d2d2d2; text-indent: 1em; }
.setting-list .birth-content input { display: none; }

/* card 贺卡 */
.setting-list .card-list { width: 100%; }
.setting-list .card-content { width: 80%; margin: 0 auto; }
.setting-list .card-content select, .setting-list .card-content textarea { width: 100%; outline: none; margin: 12px 0 0 0; padding: 0; border-radius: 5px; border: none; border: 1px solid #d2d2d2;  }
.setting-list .card-content select { height: 38px; line-height: 38px; text-indent: 1em; }
.setting-list .card-content textarea { display: none; height: 88px; line-height: 24px; text-indent: 1em; }
.setting-list .card-content p { padding: 6px 0 0 0; text-justify: auto; text-align: justify; color: #b4b4b4; display: none; }
.setting-list .card-content p span { color: #ea545d; }

/* summary 订单备注 */
.setting-list .summary-list { width: 100%; }
.setting-list .summary-content { width: 80%; margin: 0 auto; }
.setting-list .summary-content textarea { width: 100%; outline: none; margin: 12px 0 0 0; padding: 0; border-radius: 5px; border: none; border: 1px solid #d2d2d2; height: 88px; line-height: 24px; text-indent: 1em; }
.setting-list .summary-content p { padding: 6px 0 0 0; text-justify: auto; text-align: justify; color: #b4b4b4; }
.setting-list .summary-content p span { color: #ea545d; }

/* invoice 发票信息 */
.setting-list .invoice-list { width: 100%; }
.setting-list .invoice-content { width: 80%; margin: 0 auto; }
.setting-list .invoice-content select, .setting-list .invoice-content input { width: 100%; outline: none; margin: 12px 0 0 0; padding: 0; height: 38px; line-height: 38px; border-radius: 5px; border: none; border: 1px solid #d2d2d2; text-indent: 1em; }
.setting-list .invoice-content input, .setting-list .invoice-content .invoice-sel-2, .setting-list .invoice-content .invoice-sel-3 { display: none; }

/* 对select标签进行美化 */
.setting-list .span-select { display: block; overflow: hidden;/*修复子元素无法撑开父元素高度bug*/ position: relative; }
.setting-list .span-select:after { width: 0; height: 0; content: ''; display: block; position: absolute; right: 10px; top: 50%; margin-top: 4px; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 6px solid #505050; }
.setting-list .span-select select { background: transparent; -webkit-appearance: none;/*for chrome*/ }

/* setting-list end */

/* price-detail begin */
.price-detail { width: 100%; margin: 10px 0 60px; padding: 10px 0; background: #fff; }
.price-detail p { width: 90%; margin: 0 auto; height: 30px; line-height: 30px; }
.price-detail p span { display: inline-block; }
.price-detail p .title { float: left; color: #b5b5b5; }
.price-detail p .content { float: right; color: #ea545d; }
.price-detail p.total { font-size: 16px; }
/* price-detail end */

/* order-submit begin */
.fixed { position: fixed; bottom: 0; left: 0; background: #fff; }
.order-submit { width: 100%; border-top: 1px solid #e6e6e6; }
.order-submit .total { width: 66%; height: 52px; line-height: 52px; float: left; text-indent: 5%; color: #505050; }
.order-submit .total span { color: #ea545d; font-size: 14px; }
.order-submit a { display: block; width: 34%; height: 52px; line-height: 52px; float: right; background: #0055A2; color: #fff; text-align: center; font-size: 14px; }
/* order-submit end */

/* receiver address wrapper begin */
.receiver-address-wrapper { width: 100%; height: 100%; max-height: 100%; overflow: hidden; position: fixed; left: 0; top: 0; background: #f5f5f5; z-index: 999999; display: none; }
.receiver-address-wrapper .address-tab { width: 100%; overflow: hidden; position: absolute; top: 0; left: 0; z-index: 999; background: #f5f5f5; }
.address-tab > li { width: 50%; border-left: 1px solid #dcdcdc; border-bottom: 1px solid #dcdcdc; margin-left: -1px; float: left; line-height: 42px; height: 42px; overflow: hidden; text-align: center; color: #969696; background: #fff; }
.address-tab > li.active { border-bottom-color: #f5f5f5; color: #515151; background: #f5f5f5; }

.receiver-address-wrapper .address-content { width: 100%; margin-top: 53px; }
.address-content > li { width: 100%; display: none; position: relative; }
.address-content > li.active { display: block; }
.address-content .address-list { overflow-x: hidden; overflow-y: auto; }
.address-content .address-list > li { width: 100%; height: 48px; padding: 10px 0; border-bottom: 1px solid #e6e6e6; }
.address-content .address-list > li.active { background: #3c6487; color: #fff; }
.address-content .address-list > li .item-content { width: 94%; margin: 0 auto; height: 100%; }
.address-content .address-list > li .item-content .item-text { display: block; width: 88%; height: 100%; float: left; }
.address-content .address-list > li.active .item-content .item-text { color: #fff; }
.address-content .address-list > li .item-content .btn-check { width: 10%; height: 100%; float: left; display: block; }
.address-content .address-list > li.active .item-content .btn-check { background: url(../imgs/address_checked_bg.png) no-repeat center left; }
.address-content .address-list > li .item-content .text-content { width: 90%; float: right; }
.address-content .address-list > li .item-content .text-content p { width: 100%; line-height: 24px; }
.address-content .address-list > li .item-content .text-content .name {}
.address-content .address-list > li .item-content .text-content .address { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.address-content .address-list > li .item-content .item-edit { width: 12%; height: 100%; float: right; display: block; background: url(../imgs/edit_bg.png) no-repeat center center; }
.address-content .address-list > li.active .item-content .item-edit { background: url(../imgs/edit_active_bg.png) no-repeat center center; }
.address-content > li .address-btns {  width: 100%; height: 52px; position: absolute; bottom: 0; left: 0; }
.address-content > li .address-btns a { height: 100%; line-height: 52px; text-align: center; color: #fff; font-size: 14px; display: block; }
.address-content > li .address-btns .btn-address-list-cancel { width: 100%; background: #0055a2; }
.address-content > li .address-btns .btn-addr-list-cancel { width: 50%; float: left; background: #4694d2; }
.address-content > li .address-btns .btn-addr-list-submit { width: 50%; float: left; background: #0055a2; }

.address-content .addr-list { width: 100%; }
.address-content .addr-list .addr-item { width: 100%; height: 50px; border-bottom: 1px solid #e6e6e6; }
.address-content .addr-list .addr-item:nth-last-of-type(1) { border-bottom: none; }
.address-content .addr-list .item-content { width: 100%; height: 100%; margin: 0 auto; }
.address-content .addr-list .item-content input[type=text], 
.address-content .addr-list .item-content input[type=tel],
.address-content .addr-list .item-content input[type=button],
.address-content .addr-list .item-content select { text-indent: 1em; width: 100%; height: 100%; /*line-height: 50px;*/ outline: none; border: none; background: transparent; -webkit-appearance: none;/*for chrome*/ overflow: hidden; }
.address-content .addr-list .item-content select { line-height: 50px; }

.address-content .addr-list .item-content .span-select { display: block; overflow: hidden; position: relative; width: 50%; float: left; }
.address-content .addr-list .item-content .span-select:nth-of-type(2) { border-left: 1px solid #e6e6e6; margin-left: -1px; }
.address-content .addr-list .item-content .span-select:after { width: 0; height: 0; content: ''; display: block; position: absolute; right: 10px; top: 50%; margin-top: -2px; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 6px solid #505050; }
.address-content .addr-list .item-content .span-select select { width: 100%; background: transparent; -webkit-appearance: none; display: inline-block; text-indent: 1.1em; }
.address-content .addr-list .item-content .full-width { width: 100%; }

.address-content .addr-list .item-content .addr-setting { width: 92%; height: 100%; margin: 0 auto; }
.address-content .addr-list .item-content .addr-setting li { height: 100%; line-height: 50px; width: 50%; }
.address-content .addr-list .item-content .addr-setting li:nth-of-type(1) { float: left; }
.address-content .addr-list .item-content .addr-setting li:nth-of-type(2) { float: right; text-align: right; }
.address-content .addr-list .item-content .addr-setting a { color: #0055a2; display: block; background: url(../imgs/location_active_bg.png) no-repeat center left; text-indent: 18px; }
.address-content .addr-list .item-content .addr-setting span { display: inline-block; }
.address-content .addr-list .item-content .addr-setting span i { display: inline-block; width: 18px; height: 18px; margin-right: 5px; position: relative; top: 3px; }
.address-content .addr-list .item-content .addr-setting span i.unchecked { background: url(../imgs/unchecked.png) no-repeat center left; background-size: 18px 18px; }
.address-content .addr-list .item-content .addr-setting span i.checked { background: url(../imgs/checked.png) no-repeat center left; background-size: 18px 18px; }

/* receiver address wrapper end */

/* 去掉优惠信息详情 */
.setting-list .discount-list { padding: 0; }

/* 新增语音信封样式 begin */
.product-list .list-item .voice-box { float: left; width: 100%; padding: .8rem 0; border-top: 1px dashed #e6e6e6; }
.product-list .list-item .mail-box { width: 100%; }
.product-list .list-item .mail-box .mail { float: left; width: 18%; margin-left: 5%; }
.product-list .list-item .mail-box .mail img { width: 100%; }
.product-list .list-item .mail-box .text { float: right; width: 70%; }
.product-list .list-item .mail-box .text p { font-size: .8rem; line-height: 1.5rem; color: #b5b5b5; }
.product-list .list-item .mail-box .text span { float: left; }
.product-list .list-item .mail-box .text .mail-title { color: #505050; }
.product-list .list-item .mail-box .text .tip { float: right; margin-right: 3%; }
.product-list .list-item .mail-box .text em { font-style: normal; color: #ea545d; }
.product-list .list-item .mail-box .text a { float: right; display: inline-block; line-height: 1.4rem; color: #4694d1; text-decoration: underline; }



#mask-info { display: block; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); position: fixed; top: 0; left: 0; z-index: 999; }
#mask-info .info { width: 90%; border-radius: 5px; max-width: 500px; background: #fff; margin: auto; position: absolute; top: 40%; margin-top: -50px; left: 0; right: 0; z-index: 9999; overflow: hidden; }
#mask-info .info .info-title { width: 100%; height: 40px; line-height: 40px; text-align: center; background: #e6e6e6; color: #515151; font-size: 16px; }
#mask-info .info .info-content { width: 100%; }
#mask-info .info .info-content .desc { width: 80%; margin: 0 auto; padding: 20px 0; }
#mask-info .info .info-content .desc input { width: 100%; line-height: 30px; border: 1px solid #dcdcdc; border-radius: 5px; -webkit-appearance: none; outline: none; text-indent: 1em; }
#mask-info .info .info-content .btn { height: 40px; width: 80%; margin: 10px auto; }
#mask-info .info .info-content .btn a { display: block; width: 48%; height: 100%; margin: 0 auto; text-align: center; line-height: 40px; font-size: 14px; color: #fff; border-radius: 5px; background: #4694d2; margin: 0 auto; }
