body { font: 14px/1.5 "微软雅黑",arial; background: #f5f5f5; color: #505050; }
html, body { width: 100%; height: 100%; }
.container-wrapper { position: relative; width: 100%; height: 100%; }
.container-wrapper h3 { width: 100%; height: 38px; line-height: 38px; padding: 20px 0; text-align: center; }
.container-wrapper h3 span { font-style: normal; font-weight: normal; display: inline-block; height: 100%; text-indent: 40px; }
.container-wrapper h3 .success { background: url(../imgs/btn_pay_success.gif) no-repeat left center; background-size: 38px auto; }
.container-wrapper h3 .failure { background: url(../imgs/btn_pay_fail.gif) no-repeat left center; background-size: 30px auto; }

.container-wrapper dl { width: 100%; background: #fff; margin-bottom: 20px; }
.container-wrapper dt, .container-wrapper dd { line-height: 30px; text-indent: 10%; }
.container-wrapper dt { border-bottom: 1px solid #e6e6e6; }
.container-wrapper dd .order-price { color: #eb545d; }
.container-wrapper dd .order-no { color: #4695d0; }

.container-wrapper > .btn-share,
.container-wrapper > .btn-detail,
.container-wrapper > .btn-rebuy { display: block; width: 80%; margin: 0 auto 10px; height: 34px; line-height: 34px; text-align: center; border-radius: 10px; border: 1px solid #0055a2; overflow: hidden; }
.container-wrapper > .btn-detail { background: #0055a2; color: #fff; }
.container-wrapper > .btn-share,
.container-wrapper > .btn-rebuy { color: #0055a2; }

.container-wrapper .lottery-tips { width: 80%; margin: 10% auto 0; }
.container-wrapper .lottery-tips .text { font-size: 12px; line-height: 20px; text-align: center; color: #682b00; }
.container-wrapper .lottery-tips .text span { color: #f49d03; }
.container-wrapper .lottery-tips .qrCode { display: block; width: 50%; margin: 8% auto; }
.container-wrapper .lottery-tips img { width: 100%; }

.container-wrapper .mask-share { position: absolute; top: -100%; left: 0; width: 100%; height: 100%; background: url(../imgs/cheese/mask_bg.png); }
.container-wrapper .mask-share .share { position: relative; width: 100%; height: 100%; background: url(../imgs/cheese/mask_share_bg.png) no-repeat; background-size: contain; background-position: top center; }
.container-wrapper .mask-share .share .qr-code { position: absolute; bottom: 0; left: 0; width: 100%; }
.container-wrapper .mask-share .share .qr-code img { width: 100%; }

/* 优惠活动弹层 */
.mask-act { display: none; position: fixed; top: 0; left: 0; z-index: 9999999; width: 100%; height: 100%; background: url(../imgs/mask_bg.png); }
.mask-act .act-content { position: absolute; top: 42%; left: 50%; width: 66%; margin-left: -33%; background-color: #fff; border-radius: 10px; overflow: hidden; }
.act-content .act-header { width: 100%; height: 36px; background-color: #e6e6e6; }
.act-content .act-header p { line-height: 36px; font-size: 14px; color: #fff; text-indent: 1em; }
.act-content .act-body { width: 90%; margin: 0 auto; }
.act-content .act-body p { margin-top: 20px; line-height: 24px; font-size: 14px; color: #515151; text-align: justify; }
.act-content .act-body span { font-weight: bold; }
.act-content .act-operate { width: 90%; padding: 20px 0 16px; margin: 0 auto; }
.act-content .act-operate a { display: block; width: 48%; height: 36px; border-radius: 6px; line-height: 36px; text-align: center; color: #fff; font-size: 14px; }
.act-content .act-operate .btn-ok { float: left; background-color: #0578c4; }
.act-content .act-operate .btn-cancel { float: right; background-color: #0f3677; }
