html {
	-webkit-tap-highlight-color: transparent
}
input,
button,
select,
textarea {
	outline: none
}
a {
	text-decoration: none
}
p {
	margin: 0
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	margin: 0;
	padding: 0;
	font: 1rem "微软雅黑", 'Arial';
	color: #969696;
	background-color: #f5f5f5;
}
body {
	position: relative;
	color: #505050;
	background-color: #f5f5f5;
	font-size: 1rem;
}
.hide {
	display: none !important;
}
.circle img {
	vertical-align: middle;
	width: 1.2rem;
}
.container {
	width: 100%;
}
.container .content {
	width: 100%;
	background-color: #fff;
	margin-bottom: .5rem;
}
.container .content .title {
	width: 100%;
	line-height: 3rem;
	color: #0055A2;
	text-align: center;
	border-bottom: 1px solid #e6e6e6;
}
.container .content .box {
	padding: .5rem;
	border-bottom: 1px solid #e6e6e6;
}
.container .content .box a {
	line-height: 4.5rem;
}
.container .content .box a img {
	width: 1.2rem;
}
.container .content .box .div-img {
	width: 20%;
	border: 1px solid #b4b4b4;
	border-radius: 10px;
	vertical-align: middle;
	display: inline-block;
}
.container .content .box .div-img img {
	width: 100%;
	margin-top: 0;
	border-radius: 10px;
}
.container .content .box .cont {
	position: relative;
	display: inline;
	float: right;
	width: 69%;
	font-size: .8rem;
}
.container .content .box .cont .cake-name {
	margin-bottom: .3rem;
}
.container .content .box .cont .cake-name .price {
	color: #EA545D;
	float: right;
}
.container .content .box .cont .spec {
	position: relative;
	color: #c5c5c5;
}
.container .content .box .cont .spec.spec-tip:after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    content: '买2赠1';
    padding: 0 4px;
    border: 1px solid #e69b4f;
    font-size: 10px;
    line-height: 14px;
    color: #e69b4f;
}
.container .content .box .cont .cont-btm {
	float: left;
	margin-top: .35rem;
}
.container .content .box .cont .cont-btm button {
	border: 0;
	color: #fff;
	background-color: #d7d7d7;
	border-radius: 50%;
	width: 1.3rem;
	height: 1.3rem;
	line-height: 1.3rem;
	padding: 0;
	text-align: center;
	font-weight: bold;
	font-size: 1rem;
	margin: 0;
}
.container .content .box .cont .cont-btm span {
	display: inline-block;
}
.container .content .box .cont .cont-btm .number {
	width: 2.6rem;
	line-height: 1.5rem;
	height: 1.5rem;
	text-align: center;
	border: 1px solid #b4b4b4;
	border-radius: 5px;
}
.container .content .box .cont .cont-btm .add {
	background-color: #0055a2;
}
.container .content .box .cont .cont-btm .cake-number {
	float: left;
	margin-right: .5rem;
}
.container .content .box .cont .cont-btm .cut {
	float: left;
}
.container .content .box .cont .cont-btm .cut a {
	line-height: 1.7rem;
}
.container .content .box .cont .cont-btm .delete img {
	position: absolute;
	right: 0;
	bottom: .2rem;
	width: 1rem;
	border: 0;
	border-radius: 0;
}

.container .content .box .summary { padding: 5px 0 0 0; margin-top: 10px; border-top: 1px dashed #e6e6e6; }
.container .content .box .summary p { font-size: 12px; }
.container .content .box .line {
	width: 100%;
	height: 1rem;
	margin-top: 1rem;
}
.container .selected-cake .title {
	position: relative;
}
.container .selected-cake .title .circle {
	position: absolute;
	left: .5rem;
}
.container .selected-cake .box .div-img {
	margin-top: .5rem;
}
.container .selected-cake .cont-btm a img {
	margin-top: -.25rem;
}
.container .with-package .box img,
.container .selected-parts .box img {
	margin-top: .1rem;
}
.container .with-package .box .cont .spec,
.container .selected-parts .box .cont .spec {
	height: 1.3rem;
	line-height: .9rem;
}
.container .with-package .box .cont .cont-btm,
.container .selected-parts .box .cont .cont-btm {
	margin-top: 0;
}
.container .with-package .no-package,
.container .selected-parts .no-package {
	color: #c5c5c5;
	background-color: #fdfafa;
}
.container .with-package .no-package .div-img,
.container .selected-parts .no-package .div-img {
	border-color: #c5c5c5;
	opacity: .5;
}
.container .with-package .no-package .cont .cake-name .price,
.container .selected-parts .no-package .cont .cake-name .price {
	color: #c5c5c5;
}
.container .with-package .no-package .cont .cont-btm .add,
.container .selected-parts .no-package .cont .cont-btm .add {
	background-color: #c5c5c5;
}
.container .with-package .no-package .cont .cont-btm .number,
.container .selected-parts .no-package .cont .cont-btm .number {
	border-color: #c5c5c5;
}
.container .selected-parts .box-number .cont .cont-btm {
	margin-bottom: .5rem;
}
.container .selected-parts .box-number .cont .cont-btm .delete img {
	bottom: .7rem;
}
.container .settlement {
	width: 100%;
	height: 3rem;
	margin-bottom: .5rem;
	line-height: 3rem;
	background-color: #fff;
	font-size: .8rem;
	position: static;
}
.container .settlement .circle {
	margin: 0 .5rem;
}
.container .settlement .total-count {
	width: 33%;
	float: right;
}
.container .settlement .total-price {
	color: #EA545D;
}
.container .settlement button {
	width: 28%;
	border: 0;
	padding: 0;
	background-color: #0055A2;
	color: #fff;
	font-size: .9rem;
	float: right;
}
.container .accessories {
	margin-bottom: 3.5rem;
}
.container .accessories .title {
	background-color: #fff;
	border-bottom: 1px solid #EA545D;
}
.container .accessories .title img {
	width: 41%;
}
.container .accessories .inner {
	padding: .7rem;
}
.container .accessories .inner-box {
	position: relative;
	width: 47%;
	margin-bottom: .4rem;
	padding: .2rem .2rem .7rem;
	border: 1px solid #dcdcdc;
	border-top: 0;
	border-left: 0;
	border-radius: 15px;
	background-color: #fff;
}
.container .accessories .inner-box .inner-img img {
	width: 100%;
	border-radius: 14px;
}
.container .accessories .inner-box .text span {
	display: block;
	text-align: center;
	font-size: .8rem;
}
.container .accessories .inner-box .text .t1 {
	margin-top: .2rem;
}
.container .accessories .inner-box .text .t2 {
	color: #888;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 95%;
}
.container .accessories .inner-box .text .t3 {
	color: #000;
	margin-top: .3rem;
}
.container .accessories .inner-box .img-add {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 2.5rem;
	height: 2.5rem;
}
.container .accessories .inner .inner-box:nth-of-type(2n+1) {
	float: left;
}
.container .accessories .inner .inner-box:nth-of-type(2n) {
	float: right;
}
.mask {
	position: fixed;
	_position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	z-index: 299;
}
.opacity {
	opacity: .5;
	filter: alpha(opacity=60);
	background: #000;
}
.buy-hide {
	width: 100%;
	background-color: #fff;
	z-index: 999;
	position: fixed;
	_position: absolute;
	bottom: 0;
	text-align: center;
}
.buy-hide .buyTop {
	position: relative;
	margin: .5rem;
	border-bottom: 1px #ccc dotted;
}
.buy-hide .buyTop .buy-img {
	position: absolute;
	top: -3rem;
	left: 0;
	width: 5.8rem;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: .2rem;
}
.buy-hide .buyTop .text {
	position: relative;
	text-align: left;
	margin-left: 7rem;
}
.buy-hide .buyTop .text .buy-txtC {
	color: #505050;
}
.buy-hide .buyTop .text .buy-txtE {
	display: inline-block;
	font-size: .55rem;
	color: #888;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 5rem;
	vertical-align: middle;
}
.buy-hide .buyTop .text .buy-txtI {
	font-size: .8rem;
	color: #c8c8c8;
}
.buy-hide .buyTop .text .close {
	position: absolute;
	right: -4px;
	top: -2px;
	width: 1.1rem;
}
.buy-hide .buyTop p {
	text-align: right;
	font-size: .8rem;
	color: #c8c8c8;
	margin: .4rem 1rem .2rem 0;
}
.buy-hide .buyTop p span {
	font-size: .9rem;
	color: #e74566;
}
.buy-hide .buyMde {
	margin: .5rem;
	border-bottom: 1px #ccc dotted;
}
.buy-hide .buyMde p {
	text-align: left;
	color: #515151;
}
.buy-hide .buyMde-list {
	width: 100%;
}
.buy-hide .buyMde-list .type {
	width: 16%;
	float: left;
	margin: .3rem 2% .5rem;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding: .2rem 0;
	border-radius: 50px;
}
.buy-hide .buyMde-list .cur {
	color: #e74566;
	border-color: #e74566;
}
.buy-hide .buyBtm {
	margin: 0 .5rem .5rem;
}
.buy-hide .buyBtm span {
	line-height: 2rem;
}
.buy-hide .buyBtm .count {
	float: left;
	color: #515151;
}
.buy-hide .buyBtm .countR {
	float: right;
	margin-right: 1rem;
}
.buy-hide .buyBtm .countR button {
	border: 0;
	padding: 0;
	color: #fff;
	background-color: #d7d7d7;
	border-radius: 100%;
	line-height: 1.5rem;
	width: 1.5rem;
	height: 1.5rem;
	text-align: center;
	font-weight: bold;
}
.buy-hide .buyBtm .countR .number {
	width: 4rem;
	line-height: 2rem;
	text-align: center;
	border: 1px solid #b4b4b4;
	border-radius: 5px;
}
.buy-hide .buyBtm .countR .add {
	background-color: #0055a2;
}
.buy-hide .buyBtn {
	clear: both;
	height: 3rem;
}
.buy-hide .buyBtn ul li {
	width: 100%;
	line-height: 3rem;
	background-color: #0055a2;
	float: left;
}
.buy-hide .buyBtn ul a {
	color: #fff;
}
#mask-cart {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
#mask-cart .cart {
	width: 90%;
	border-radius: 5px;
	max-width: 500px;
	background: #fff;
	margin: auto;
	position: absolute;
	top: 40%;
	margin-top: -50px;
	left: 0;
	right: 0;
	z-index: 9999;
	overflow: hidden;
}
#mask-cart .cart .cart-title {
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #e6e6e6;
	color: #515151;
}
#mask-cart .cart .cart-content {
	width: 100%;
}
#mask-cart .cart .cart-content .desc {
	width: 100%;
	margin: 20px 0;
	padding: 30px 0;
}
#mask-cart .cart .cart-content .desc p {
	text-align: center;
	line-height: 20px;
	color: #515151;
}
#mask-cart .cart .cart-content .btn {
	height: 40px;
	width: 90%;
	margin: 20px auto;
}
#mask-cart .cart .cart-content .btn a {
	display: block;
	width: 48%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
	border-radius: 10px;
}
#btnGoPay {
	float: left;
	background: #4694d2;
}
#btnContinue {
	float: right;
	background: #0055A2;
}
#mask-cart .cart .cart-content .btn {
	width: 80%;
}
#mask-cart .cart .cart-content .btn a {
	width: 100%;
}
#mask-cart .cart .cart-content #descs {
	padding: 0;
	width: 90%;
	margin: 20px auto;
}
#mask-cart .cart .cart-content #descs .average {
	width: 100%;
	text-align: justify;
	margin-top: 5px;
}
#mask-cart .cart .cart-content #descs .average a {
	width: 18%;
	padding: 1%;
	float: left;
	display: block;
}
#mask-cart .cart .cart-content #descs .average a img {
	width: 100%;
	border: 1px solid #b4b4b4;
}
#mask-cart .cart .cart-content #btns a {
	width: 48%;
}
.shadow {
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* activity-tip begin */
.activity-tip { width: 100%; background: #ea545d; padding: 10px 0; }
.activity-tip .tip-content { width: 92%; margin: 0 auto; }
.activity-tip .tip-content p { width: 100%; color: #fff; line-height: 22px; font-size: 12px; word-break: break-all; }
/* activity-tip end */

/* 新增语音信封样式 begin */
.container .content .voice-box { float: left; width: 100%; margin-top: .5rem; padding: .5rem 0; border-top: 1px solid #e6e6e6; }
.content .voice-box .mail-box { width: 100%; padding-bottom: .5rem; border-bottom: 1px dashed #e6e6e6; }
.content .voice-box .mail-box .mail { float: left; width: 18%; margin-left: 8.6%; }
.content .voice-box .mail-box .mail img { width: 100%; }
.content .voice-box .mail-box .text { float: right; width: 70%; }
.voice-box .mail-box .text p { font-size: .8rem; line-height: 1.5rem; color: #b5b5b5; }
.voice-box .mail-box .text span { float: left; }
.voice-box .mail-box .text .mail-title { color: #505050; }
.voice-box .mail-box .text .tip { float: right; }
.voice-box .mail-box .text em { font-style: normal; color: #ea545d; }
.voice-box .mail-box .text a { float: right; display: inline-block; line-height: 1.4rem; color: #4694d1; text-decoration: underline; }

.content .voice-box dl { float: left; padding-top: .5rem; color: #b4b4b4; font-size: .6rem; line-height: 1.2rem; margin-left: 8%; word-wrap: nowrap; }

/* 语音口令使用方法 */
#voice-manual { position: absolute; top: 0; right: 0; z-index: 998; display: none; width: 0; height: 100%; background-color: rgba(255,255,255,.5); }
#voice-manual .manual-content { display: none; width: 65%; height: 100%; margin-left: auto; border-left: 1px solid #e6e6e6; padding: 1rem; background-color: #fff; color: #505050; font-family: "微软雅黑"; }
#voice-manual .manual-content h2 { font-size: 1rem; font-weight: normal; line-height: 2.4rem; }
#voice-manual .manual-content ul { font-size: .8rem; }
#voice-manual .manual-content ul li { padding: .5rem 0; }
#voice-manual .manual-content ul p { line-height: 1.6rem; }
#voice-manual .manual-content .content { padding: .5rem 0; }
#voice-manual .manual-content .content img { width: 100%; }

/* 新增语音信封样式 end */