html, body { width: 100%; height: 100%; overflow: hidden; }
#container { position: relative; width: 100%; min-height: 100%; overflow-y: auto; } 
#container img { width: 100%; vertical-align: top; border: none; }
#container .page { display: none; position: absolute; top: 0; left: 0; width: 100%; min-height: 100%; background-color: #fff; }
#container .banner { width: 100%; }
#container .content { width: 100%; }
#container .page1 { display: block; }
#container .page1 .banner { position: relative; }
#container .page1 .banner .inner { position: absolute; top: 0; left: 0; width: 100%; }

#container .page1 .banner .inner .circle { position: absolute; top: 50%; left: 50%; width: 90px; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); border-radius: 50%; box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.5); background-color: #41c0d5; overflow: hidden; }
#container .page1 .banner .inner .circle .circleProgress_wrapper { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }    
#container .page1 .banner .inner .circle .wrapper { width: 50%; height: 100%; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); overflow: hidden; } 
#container .page1 .banner .inner .circle .right { right: 0; }    
#container .page1 .banner .inner .circle .left { left: 0; }   
#container .page1 .banner .inner .circle .circleProgress { width: 70px; height: 70px; border: 10px solid rgb(232, 232, 12); border-radius: 50%; position: absolute; top: 0; -webkit-transform: rotate(45deg); }    
#container .page1 .banner .inner .circle .rightcircle { border-top: 10px solid green; border-right: 10px solid green; right: 0; -webkit-animation: circleProgressLoad_right 60s linear; animation: circleProgressLoad_right 60s linear; -webkit-animation-play-state: paused; animation-play-state: paused; }    
#container .page1 .banner .inner .circle .leftcircle { border-bottom: 10px solid green; border-left: 10px solid green; left: 0; -webkit-animation: circleProgressLoad_left 60s linear; animation: circleProgressLoad_left 60s linear; -webkit-animation-play-state: paused; animation-play-state: paused; }
#container .page1 .banner .inner .circle > p { position: absolute; top: 50%; left: 0; width: 100%; text-align: center; -webkit-transform: translateY(-50%); transform: translateY(-50%); color: #fff; }
#container .page1 .banner .inner .circle > p span { font-size: 16px; }

@-webkit-keyframes circleProgressLoad_right {
    0% {
        border-top: 10px solid #ED1A1A;
        border-right: 10px solid #ED1A1A;
        -webkit-transform: rotate(45deg);
    }
    50% {
        border-top: 10px solid rgb(232, 232, 12);
        border-right: 10px solid rgb(232, 232, 12);
        border-left: 10px solid rgb(81, 197, 81);
        border-bottom: 10px solid rgb(81, 197, 81);
        -webkit-transform: rotate(225deg);
    }
    100% {
        border-left: 10px solid green;
        border-bottom: 10px solid green;
        -webkit-transform: rotate(225deg);
    }
}
@keyframes circleProgressLoad_right {
    0% {
        border-top: 10px solid #ED1A1A;
        border-right: 10px solid #ED1A1A;
        transform: rotate(45deg);
    }
    50% {
        border-top: 10px solid rgb(232, 232, 12);
        border-right: 10px solid rgb(232, 232, 12);
        border-left: 10px solid rgb(81, 197, 81);
        border-bottom: 10px solid rgb(81, 197, 81);
        transform: rotate(225deg);
    }
    100% {
        border-left: 10px solid green;
        border-bottom: 10px solid green;
        transform: rotate(225deg);
    }
}

@-webkit-keyframes circleProgressLoad_left {
    0% {
        border-bottom: 10px solid #ED1A1A;
        border-left: 10px solid #ED1A1A;
        -webkit-transform: rotate(45deg);
    }
    50% {
        border-bottom: 10px solid rgb(232, 232, 12);
        border-left: 10px solid rgb(232, 232, 12);
        border-top: 10px solid rgb(81, 197, 81);
        border-right: 10px solid rgb(81, 197, 81);
        -webkit-transform: rotate(45deg);
    }
    100% {
        border-top: 10px solid green;
        border-right: 10px solid green;
        border-bottom: 10px solid green;
        border-left: 10px solid green;
        -webkit-transform: rotate(225deg);
    }
}
@keyframes circleProgressLoad_left {
    0% {
        border-bottom: 10px solid #ED1A1A;
        border-left: 10px solid #ED1A1A;
        transform: rotate(45deg);
    }
    50% {
        border-bottom: 10px solid rgb(232, 232, 12);
        border-left: 10px solid rgb(232, 232, 12);
        border-top: 10px solid rgb(81, 197, 81);
        border-right: 10px solid rgb(81, 197, 81);
        transform: rotate(45deg);
    }
    100% {
        border-top: 10px solid green;
        border-right: 10px solid green;
        border-bottom: 10px solid green;
        border-left: 10px solid green;
        transform: rotate(225deg);
    }
}

#container .page1 .banner .go-home { display: block; position: absolute; top: 6px; right: 6px; width: 15%; border-radius: 50%; overflow: hidden; }
#container .page1 .banner .location { position: absolute; top: 3%; left: 3%; z-index: 999; width: 23.435%; border: 2px solid #41c0d5; background-color: #41c0d5; border-radius: 5px; }
#container .page1 .banner .location::before { position: absolute; left: 5px; top: 7px; width: 14px; height: 18px; content: url("../imgs/today-welfare-skn/location_bg.png"); }
#container .page1 .banner .location::after { position: absolute; top: 12px; right: 6px; content: ''; width: 0; height: 0; border-top: 8px solid #3d2c28; border-right: 4px solid transparent; border-bottom: 8px solid transparent; border-left: 4px solid transparent; }
#container .page1 .banner .location p { border-radius: 5px; }
#container .page1 .banner .location ul { display: none; width: 100%; border-top: 2px solid #41c0d5; }
#container .page1 .banner .location p,
#container .page1 .banner .location li { line-height: 32px; text-align: center; font-size: 14px; background-color: #fff; }
#container .page1 .banner .location li.active { background-color: #41c0d5; color: #fff; }
#container .page1 .mask { display: none; position: absolute; top: 0; left: 0; z-index: 99; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .8); }

#container .page1 .title { font-size: 14px; line-height: 38px; text-align: center; color: #fd618a; }
#container .page1 .title i { display: inline-block; width: 38px; height: 38px; margin-right: 10px; }
#container .page1 .title i img { width: 100%; }
#container .page1 .content ul { width: 93.75%; margin: 0 auto; }
#container .page1 .content li { width: 100%; margin-bottom: 10px; }
#container .page1 .content li .ticket { float: left; width: 73.3%; } 
#container .page1 .content li .btn { position: relative; display: block; float: right; width: 26.7%; } 
#container .page1 .content li .btn .timeout { display: none; position: absolute; top: 0; left: 0; width: 100%; } 

#container .page2 { background-color: #fd618a; overflow-x: hidden; }
#container .page2 .content { position: relative; }
#container .page2 .slide { position: absolute; top: 0; width: 100%; background-color: #fd618a; }
#container .page2 .slide1 { left: 0; }
#container .page2 .slide1 .title { width: 100%; text-align: center; height: 30px; line-height: 30px; font-size: 14px; color: #fff; margin: 15px 0; }
#container .page2 .slide1 .title span { display: none; line-height: 30px; background: url("../imgs/today-welfare-skn/tip_bg.png") no-repeat left center; text-indent: 35px; }
#container .page2 .slide1 ul { width: 78.125%; margin: 0 auto; }
#container .page2 .slide1 li { width: 100%; height: 40px; line-height: 40px; border: 1px solid #e4426c; margin-bottom: 10px; border-radius: 21px; overflow: hidden; background: #fff; }
#container .page2 .slide1 li.last { height: 38px; line-height: 38px; border: none; }
#container .page2 .slide1 input { width: 100%; height: 100%; text-indent: 2em; border: none; outline: none; -webkit-appearance: none; }
#container .page2 .slide1 .txt-mobile { float: left; width: 60%; }
#container .page2 .slide1 .btn-vcode { display: inline-block; position: relative; top: 5px; right: 5px; float: right; width: 36%; height: 30px; line-height: 30px; background-color: #fe8caa; color: #fff; text-align: center; border-radius: 21px; overflow: hidden; }
#container .page2 .slide1 .btn-reg { display: inline-block; width: 100%; height: 100%; background-color: #41c0d5; color: #fff; text-align: center; }
#container .page2 .slide2 { left: 100%; font-size: 12px; }
#container .page2 .slide2 .title { margin: 15px 0; text-align: center; color: #fff; }
#container .page2 .slide2 .title h2 { font-size: 16px; line-height: 24px; color: #fff; }
#container .page2 .slide2 .title p { line-height: 18px; margin-bottom: 10px; }
#container .page2 .slide2 .title .btn-buy { display: block; width: 60%; height: 32px; line-height: 32px; margin: 0 auto; color: #fff; text-align: center; background: #41c0d5; border-radius: 16px; overflow: hidden; }
#container .page2 .slide2 dl { width: 87.5%; margin: 0 auto; border-top: 1px solid #fff; color: #fff; padding: 10px 0; }
#container .page2 .slide2 dt { font-size: 14px; line-height: 24px; }
#container .page2 .slide2 dd { line-height: 20px; text-align: justify; }