
@font-face {
    font-family: 'sentypea';
    src: url('../fonts/SentyPea.eot');
    src: url('../fonts/SentyPea.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SentyPea.woff') format('woff'),
         url('../fonts/SentyPea.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body { width: 100%; height: 100%; }
body { font-size: 62.5%; }
.wrapper { position: relative; width: 100%; height: 100%; background-color: #fff; background-image: url(../imgs/valentines-day/wrapper_bg.jpg); background-repeat: no-repeat; background-position: left bottom; background-size: 100% auto; }
.wrapper img { width: 100%; vertical-align: top; border: none; }

.silk { position: absolute; top: 0; left: 0; width: 73.4375%; }
.love { position: absolute; top: 22.62%; right: 3.125%; width: 50.625%; }
.mail-box { position: absolute; right: 3.125%; bottom: 9.42%; z-index: 99; width: 36.25%; }
.mail-box a { display: block; }
.mail-box .mail-box-tip { position: absolute; top: -51.2%; left: -21.12%; z-index: 9; width: 90.517%; }

/* mask begin */
#mask { position: fixed; top: 0; left: 0; z-index: 999; width: 100%; height: 100%; background-color: rgba(203,172,127,.6); }

/* verify box begin */
#verify-box { position: absolute; top: 50%; left: 50%; z-index: 9999; width: 86%; border: .8em solid #e8dfd3; padding: 3em 0; font-size: 1em; background-color: #f2ede7; box-shadow: 0 0 .2em #e6e6e6; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
#verify-box ul { width: 100%; margin: 0 auto; font-family: 'sentypea'; font-size: 1.4em; }
#verify-box li { width: 100%; line-height: 2em; height: 2em; margin: 1em 0; color: #444; }
#verify-box .title { display: inline-block; float: left; width: 35%; height: 100%; text-align: right; }
#verify-box .content { display: inline-block; float: left; width: 60%; height: 100%; border-bottom: 1px solid #dcd2c3; }
#verify-box .content input { float: left; width: 100%; height: 100%; border: none; font-family: Arial; background: transparent; outline: none; text-indent: .1em; -webkit-appearance: none; }
#verify-box .content #txt-mobileno { width: 55%; }
#btn-fetch-vcode { position: relative; top: -0.3em; display: inline-block; float: right; width: 42%; padding: 1%; font-size: 1em; text-align: center; letter-spacing: -0.1em; background: url(../imgs/valentines-day/btn_vcode_bg.png) no-repeat center center; background-size: 100% 100%; }
#verify-box li.last { position: relative; }
#btn-verify-ok { position: absolute; left: 50%; width: 37.96%; margin: 0.5em 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
#verify-box li.last .ok-tip { position: absolute; right: 22.98%; top: 0; width: 7.4%; }
#verify-box li.last .ok-tip img { width: 100%; }

/* player begin */
#player { display: none; opacity: 0; position: absolute; top: 50%; left: 50%; z-index: 9999; width: 60%; box-shadow: -.2em .2em .8em rgba(0,0,0,.3); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
#player .player-body, #player .player-top { width: 100%; }
#player .player-body { position: relative; }
#player .player-body .musicbar { position: absolute; top: .4em; left: 50%; width: 3.8em; height: 2em; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
#player .player-body .musicbar > div { width: .3em; height: 100%; background-color: #01fcff; border-radius: .2em; margin: .1em; display: inline-block; -webkit-animation: line-scale-pulse-out .9s 0s infinite cubic-bezier(.85,.25,.37,.85); animation: line-scale-pulse-out .9s 0s infinite cubic-bezier(.85,.25,.37,.85); -webkit-animation-play-state: paused; animation-play-state: paused; }
#player .player-body .musicbar > div:nth-of-type(1) { -webkit-animation-delay: .4s!important; animation-delay: .4s!important; }
#player .player-body .musicbar > div:nth-of-type(2) { -webkit-animation-delay: .2s!important; animation-delay: .2s!important; }
#player .player-body .musicbar > div:nth-of-type(4) { -webkit-animation-delay: .2s!important; animation-delay: .2s!important; }
#player .player-body .musicbar > div:nth-of-type(5) { -webkit-animation-delay: .4s!important; animation-delay: .4s!important; }
@-webkit-keyframes line-scale-pulse-out {
  0% { -webkit-transform: scaley(1); transform: scaley(1); }
  50% { -webkit-transform: scaley(0.4); transform: scaley(0.4); }
  100% { -webkit-transform: scaley(1); transform: scaley(1); } 
}
@keyframes line-scale-pulse-out {
  0% { -webkit-transform: scaley(1); transform: scaley(1); }
  50% { -webkit-transform: scaley(0.4); transform: scaley(0.4); }
  100% { -webkit-transform: scaley(1); transform: scaley(1); } 
}
#player .player-top { position: absolute; top: 0; left: 0; z-index: 99999; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transform-origin: top center; transform-origin: top center; -webkit-transform: rotateX(0deg); transform: rotateX(0deg); }
#player .player-top .front, #player .player-top .back { position: absolute; top: 0; left: 0; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
#player .player-top .front { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); }
#player .player-top .back { -webkit-transform: rotateX(180deg); transform: rotateX(180deg); }